# Игнорируем виртуальные окружения везде
**/venv/
**/.venv/
**/__pycache__/
*.pyc

# Игнорируем мусор PlatformIO в папке firmware
firmware/.pio/
firmware/pio/
firmware/.platformio/
firmware/managed_components/
firmware/dependencies.lock
firmware/sdkconfig.*

# Игнорируем сборки и логи в Meshtasticator
Meshtasticator/out/
Meshtasticator/dist/
Meshtasticator/build/
Meshtasticator/node_modules/
Meshtasticator/*.log

# Системные файлы
.DS_Store
Thumbs.db